<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.tsumura.takuya.self_maintenance">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/tree_seichou02"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tree_seichou02"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForSetting.AccountSettingActivity" />
        <activity android:name=".ForSetting.FriendSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ForSetting.LoginActivity" />
        <activity android:name=".forGallery.VideoListActivity" />
        <activity
            android:name=".ForStart.TutorialActivity"
            android:theme="@style/WelcomeScreenTheme" />
        <activity
            android:name=".ForCamera.CameraXActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".forGallery.GalleryActivity" />
        <activity
            android:name=".ForSetting.GoalSettingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>